
/*hi we are new*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  min-height: 100vh;
  background: url("boook_leave.jpg") no-repeat;
  background-size : cover ;
  background-position: center;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
.navbar{
  font-size:1.15rem ;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;

}
.icons{
  font-size: 2.8rem;
  color:#fff;
  cursor: pointer;
  display: none;
  position: absolute;
  right: 5%;
}
@media(max-width:992px){
  .header{
    padding: 1.3rem 5%;
  }
}
@media(max-width:768px){
  .icons{
    display: inline-flex;
  }
  .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0,0,0, .1);
    backdrop-filter: blur(50px);
    overflow: hidden;
    transition: .3s ease;
    box-shadow: 0  .5rem 1rem rgba(0, 0, 0, .1);
  }
  .navbar a{
    display: block;
    font-size: 1.1rem;
    margin: 1.5rem;
    text-align: center;
    transform: translateY(-50px);
    transition: .3s ease;
    opacity: 0;
  }
  .icon #close-icon{
    display: none;
  }
  #check{
    display: none;
  }
  #check:checked~.icons #menu-icon{
    display: none;
  }
  #check:checked~.icons #closed-icon{
    display: block;
  }
  #check:checked~.navbar{
    height: 17.7rem;
  }
  #check:checked~.navbar a{
    transform: translateY(0);
    transition-delay: calc(.15s * var(--i));
    opacity: 1;
  }
}
#check{
  display: none;
}
.header::before{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0, .1);
  backdrop-filter: blur(50px);
  z-index: -1;
}
.header::after{
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(90deg,transparent, rgba(255,255,255, .4) , transparent);
  transition: .5s;
}
.header:hover::after{
  left: 100%;
}
.hi{
  font-size: medium;
  color: #fff;
}
